/* Header Elements */
.header-bar {
    margin-right: auto;
    margin-left: auto;
    background-color: #cbc69c;
    
}

#logo {
    text-align: left;
    font-size: 120%;
}

/* Settings */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    border: #cbc69c solid 6px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 300px;
    position: relative;
}

.setting-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

#save {
    padding: 8px 16px;
}

/* Interactive Elements */


.info-options {
    background-color: #cbc69c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-size: auto;
    width: 55%;
    margin: 8vh auto 0;
    position: relative;
    gap: 7vw;
}

.input_area {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
    font-size: 5vw;
    position: relative;
    gap: 5vw;
}

.mode-options {
    display: flex;
    flex-direction: column;
    font-size: 8vh;
    gap: 5vh;
}

#settings-button, #mode-button {
    background-color: #f7f7f0;
    border-radius: 5px;
    padding: 5px;
}

#score {
    font-size: 2vw;
}

#user_input {
    border-radius: 2px;
    border: #000000 solid 2px;
    text-align: center;
    padding-left: 0vw;
    font-size: 6vh;
    width: 3vw;
    height: 10vh;
}

#lives-display {
    display: none;
    font-size: 2vw;
    text-align: center;
}

#instructions {
    display: fixed;
    font-size: 1.5vw;
    text-align: center;
}

@media (max-width: 600px) {
    .info-options {
        width: 70%;
        font-size: 3vw;
        gap: 5vw;
        height: 12vh;
    }

    .input_area {
        font-size: 10vw;
        gap: 5vw;
    }

    #user_input {
        width: 5vw;
        height: 10vh;
    }

    #score {
        font-size: 5vw;
    }

    #instructions {
        display: fixed;
        font-size: 3vw;
        text-align: center;
        
    }

    #lives-display {
        display: fixed;
        font-size: 5vw;
        text-align: center;
    }

    #settings-button, #mode-button {
            background-color: #f7f7f0;
            border-radius: 5px;
            font-size: 2.5vh;
            padding: 5px;
        }
}